<h2>destructuring objects</h2>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">Normal destructuring</h3>
  <p>im code schauen!</p>
  <button (click)="this.setNormalbad()">bad version</button>
  <button (click)="this.setNormalgood()">good version</button>
</div>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">function destructuring</h3>
  <p>im code schauen!</p>
  <button (click)="this.setFunctionDestructuring()">console log</button>
  <hr>
</div>
