<h2>arrow functions</h2>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">easy arrow function</h3>
  <p>im code schauen!</p>
  <button (click)="this.doEasyArrowFunction()">without arrow function</button>
</div>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">this. example</h3>
  <p>im code schauen!</p>
  <button (click)="this.doWithoutArrowFunction()">without arrow function</button>
  <button (click)="this.doWithArrowFunction()">with arrow function</button>
  <hr>
</div>
