<h2>template literals</h2>
<div class="example-wrapper">
  <hr>
    <h3 style="text-decoration: underline">String interpolation</h3>
    <p>im code schauen!</p>
    <p>Normal: {{this.fullName}}</p>
    <p>Template literals: {{this.fullName2}}</p>
    <button (click)="this.doStringInterpolation()">console log</button>
</div>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">multi line</h3>
  <p>im code schauen!</p>
  <button (click)="this.doMultilineLiterals()">console log</button>
  <hr>
</div>

