<h2>for of</h2>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">Normal loops</h3>
  <p>im code schauen!</p>
  <button (click)="this.doNormalFor()">normal for-loop</button>
  <button (click)="this.doNormalForeach()">normal foreach-loop</button>
</div>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">Forin-loop</h3>
  <p>im code schauen!</p>
  <button (click)="this.doForInObj()">forin-loop object</button>
  <button (click)="this.doForInArray()">forin-loop array</button>
  <hr>
</div>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">forof-loop</h3>
  <p>im code schauen!</p>
  <button (click)="this.doForOfArray()">forof-loop Array</button>
  <button (click)="this.$event">with arrow function</button>
  <hr>
</div>
