<h2>extended parameter handling</h2>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">Default params</h3>
  <p>im code schauen!</p>
  <button (click)="this.setDefault()">console log</button>
</div>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">Rest parameter</h3>
  <p>im code schauen!</p>
  <button (click)="this.setRest()">console log</button>
  <hr>
</div>
<div class="example-wrapper">
  <hr>
  <h3 style="text-decoration: underline">Spread operator</h3>
  <p>im code schauen!</p>
  <button (click)="this.setSpread()">console log</button>
  <hr>
</div>
